@import url("https://fonts.googleapis.com/csshe2?family=Orbitron&display=swap");

.APOD{
  background-image:url(./images/bkgnd/bk.png) ;
  min-height: 135vh;
}

.APOD h2{
  padding-top: 45vh;
}

.App {
  margin: auto;
  text-align: center;
  /* background-image: url(./images/bkgnd/bk.png); */
  background-color: #1c1935;
}

.pageHeading {
  text-decoration: none;
  font-size: 23px;
  padding-left: 5vh;
  margin:0;
  align-items: center; /* Vertically center items */
}

.pageHeading a {
  color:  #f4ffff;
  letter-spacing: 3px;
  text-decoration: none;
}



.login{
  flex:1;
  
}


.planet-heading {
  font-family: "Orbitron", sans-serif;
  font-size: 30cm;
  color: aliceblue;
 padding: 0;
 margin: 0;
}

h2 {
  text-shadow: 5px 5px 8px #505b72;
}



.login-signup {
  text-align: right;
  padding-bottom: 15vh;
  flex-direction: row;
}

.App-header {
  font-family: "Orbitron", sans-serif;
  height: 10vh;
  display: flex;
  text-align: right;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(30px);
  color: #fff;
  align-items: center; 
}

h2.planet {
  margin: 0;
  font-size: 40px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.scroll{
  min-height: 4vh;
}

.planet-text {
  background-color: #e69668; 
  padding: 20px;
  border-radius: 50px;
}


.nav-circle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  min-height: 40vh;
}

.planet-link-circle {
  width: 140px;
  height: 140px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.planet-link-circle a {
  font-size: 20px;
  color: aliceblue;
  text-decoration: none;
  position: relative;
}

.text-container {
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: bold;
  text-shadow: -3px 0 #000000, 0 3px #000000, 3px 0 #000000, 0 -3px #000000;
}

.merImg {
  background-image: url("images/mercury.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.merImg:hover {
  transform: rotate(360deg);
}

.venImg {
  background-image: url("images/venus.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.venImg:hover {
  transform: rotate(360deg);
}

.earImg {
  background-image: url("images/earth.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.earImg:hover {
  transform: rotate(360deg);
}

.marImg {
  background-image: url("images/mars.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.marImg:hover {
  transform: rotate(360deg);
}

.jupImg {
  background-image: url("images/jupiter.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.jupImg:hover {
  transform: rotate(360deg);
}

.satImg {
  background-image: url("images/saturnNav.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.satImg:hover {
  transform: rotate(360deg);
}

.uraImg {
  background-image: url("images/uranus.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.uraImg:hover {
  transform: rotate(360deg);
}

.nepImg {
  background-image: url("images/neptune.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.nepImg:hover {
  transform: rotate(360deg);
}

.favImg {
  background-image: url("images/star.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  transition: transform 3s;
}

.favImg:hover {
  transform: rotate(360deg);
}

.planet-link-circle a:active,
.planet-link-circle a:focus {
  color: #fffbd6; /* Change current pages colour */
}

footer {
  padding-top: 2%;
  background-image: url(images/wallpaperflare.com_wallpaper.jpg);
  padding-bottom: 2%;
  clear: both;
}

.copyright {
  float: right;
  padding-right: 10%;
}

/* Reset list styles for the navigation */
nav ul {
  list-style-type: none;
  padding: 0;
}

.apodImg {
  height: auto;
  width: 30%;
  margin: 40px;
  margin-left: 15%;
  border: #000;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  color: #f0f0f0;
  width: 50vh;
}

.explanation {
  padding: 5%;
  font-size: 27px;
}


.image-explanation-container {
  display: flex;
  align-items: center; 
}

/* .image-container {
  flex: 1; 
  margin-right: 20px;
} */

.explanation-container {
  flex: 2; 
}






/* Close button */

.close-button {
  position: absolute;
  right: 50px;
  background-color: transparent;
  font-size: 50px;
  color: white;
  z-index: 10;
  border: none;
  cursor: pointer;
}

.content-wrapper {
  position: relative;
}

.content-container {
  position: relative;
}

/* backgroundf img */
.bk-img {
  min-height: 75vh;
  background-image: url("./images/bkgnd/planets.png");
  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;
}

.loginButton {
  background-color: #e69668;
  color: #f0f0f0;
  padding: 10px 30px;
  border: #e69668;
  border-radius: 25px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 20px;
  margin: 2%;
  transition: 0.5s;
}

.signUpButton {
  background-color: #e69668;
  color: #f0f0f0;
  padding: 10px 20px;
  border: #e69668;
  border-radius: 25px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 20px;
  margin:2%;
  transition: 0.5s;
}

.signOutButton {
  background-color: #e69668;
  color: #f0f0f0;
  padding: 10px 20px;
  border: #e69668;
  border-radius: 25px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 20px;
  margin: 2vh;
  transition: 0.5s;
}

.loginButton:hover {
  background-color: #4052bb;
}

.signUpButton:hover {
  background-color: #4052bb;
}

.signOutButton:hover {
  background-color: #4052bb;
}


.fav{
  max-width: 20vh;
  
}

.favourites {
  background-color: #eae8fc;
  color: #6a186a;
  padding: 10px 20px;
  border: #6a186a;
  width: 140px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 20px;
}

.loginButton a,
.signUpButton a,
.signOutButton a {
  text-decoration: none;
}
/* Screen sizes should be at the bottom */
/* Screen sizes adjustment */

@media screen and (max-width: 1024px) {
  .planet-link-circle {
    width: 100px;
    height: 100px;
    font-size: 18px;
    margin: 12px;
    padding: 5px;
  }
  .nav-circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 950px) {
  .planet-link-circle {
    width: 100px;
    height: 100px;
    font-size: 18px;
    margin: 12px;
    padding: 5px;
  }
  .nav-circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .merImg,
  .venImg,
  .earImg,
  .marImg,
  .jupImg,
  .satImg,
  .uraImg,
  .nepImg,
  .favImg {
    width: 110px;
    height: 110px;
  }

  .planet-image {
    width: 50%;
    height: 50%;
  }
  .planet-description {
    position: relative;
    align-self: first baseline;
    left: 20%;
  }

  .planet-text {
    position: relative;
    align-self: last baseline;
    right: 50%;
  }

  .apodImg {
    height: auto;
    width: 60%;
    margin: 40px;
    float: none;
  }
  .explanation {
    padding: 5%;
    width: fit-content;
  }

  p {
    width: 400%;
    font-size: 30px;
  }
}
@media screen and (max-width: 850px) {
  .planet-image {
    width: 40%;
    height: 40%;
  }
}

@media screen and (max-width: 800px) {
  p {
    width: 400%;
    font-size: 25px;
  }

  .planet-image {
    width: 40%;
    height: 40%;
  }

  .planet-description {
    position: relative;
    align-self: first baseline;
    left: 10%;
  }

  .planet-text {
    position: relative;
    align-self: last baseline;
    right: 60%;
  }
}

@media screen and (max-width: 550px) {
  p {
    font-size: 16px;
  }
  .planet-description {
    position: relative;
    align-self: first baseline;
    left: 20%;
  }

  .planet-text {
    position: relative;
    align-self: last baseline;
    right: 50%;
  }
}
@media screen and (max-width: 500px) {
  h2 {
    font-size: 45px;
  }

  .close-button {
    font-size: 35px;
    right: 5%;
  }

  p {
    width: 300%;
    font-size: 20px;
  }

  .planet-description {
    position: relative;
    align-self: first baseline;
    left: 20%;
  }

  .planet-text {
    position: relative;
    align-self: last baseline;
    right: 70%;
  }
  .welcome {
    font-size: 30px;
    display: block;
  }
}

@media screen and (max-width: 380px) {
  h2 {
    font-size: smaller;
  }

  .pageHeading {
    font-size: smaller;
  }

  .close-button {
    font-size: 25px;
    right: 10px;
  }
  .planet-image {
    width: 50%;
    height: 50%;
  }

  .planet-description {
    position: relative;
    align-self: first baseline;
    left: 30%;
  }

  .planet-text {
    position: relative;
    align-self: last baseline;
    right: 85%;
  }
  p {
    font-size: 20px;
  }
}
