@import url("https://fonts.googleapis.com/csshe2?family=Orbitron&display=swap");

.APOD {
  background-image: url(./images/bkgnd/bk.png);
  min-height: 135vh;
}

.APOD h2 {
  padding-top: 45vh;
}

.App {
  margin: auto;
  text-align: center;
  /* background-image: url(./images/bkgnd/bk.png); */
  background-color: #1c1935;
}

.pageHeading {
  text-decoration: none;
  font-size: 23px;
  padding-left: 5vh;
  margin: 0;
  text-align: left;
  align-items: center; /* Vertically center items */
}

.pageHeading a {
  color: #f4ffff;
  font-size: 2vh;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: left;
}

.login {
  flex: 1;
}

.planet-heading {
  font-family: "Orbitron", sans-serif;
  font-size: 30cm;
  color: aliceblue;
  padding: 0;
  margin: 0;
}

.h2 {
  text-shadow: 5px 5px 8px #505b72;
}


.login-signup {
  text-align: right;
  padding-bottom: 15vh;
  flex-direction: row;
}

.App-header {
  font-family: "Orbitron", sans-serif;
  height: 10vh;
  display: flex;
  text-align: right;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  color: #fff;
  align-items: center;
}

h2.planet {
  margin: 0;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll {
  min-height: 4vh;
}

.planet-text {
  background-color: #e69668;
  padding: 20px;
  border-radius: 50px;
}

.nav-circle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  min-height: 40vh;
}

.planet-link-circle {
  width: 140px;
  height: 140px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.planet-link-F a {
  font-size: 20px;
  color: aliceblue;
  text-decoration: none;
  position: relative;
}

.planet-link-circle a {
  font-size: 20px;
  color: aliceblue;
  text-decoration: none;
  position: relative;
}

.text-container {
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: bold;
  text-shadow: -3px 0 #000000, 0 3px #000000, 3px 0 #000000, 0 -3px #000000;
}

.text-containerF {
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: bold;
  text-shadow: -3px 0 #000000, 0 3px #000000, 3px 0 #000000, 0 -3px #000000;
}

.merImg {
  background-image: url("images/mercury.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.merImg:hover {
  transform: rotate(360deg);
}

.venImg {
  background-image: url("images/venus.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.venImg:hover {
  transform: rotate(360deg);
}

.earImg {
  background-image: url("images/earth.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.earImg:hover {
  transform: rotate(360deg);
}

.marImg {
  background-image: url("images/mars.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.marImg:hover {
  transform: rotate(360deg);
}

.jupImg {
  background-image: url("images/jupiter.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.jupImg:hover {
  transform: rotate(360deg);
}

.satImg {
  background-image: url("images/saturnNav.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.satImg:hover {
  transform: rotate(360deg);
}

.uraImg {
  background-image: url("images/uranus.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.uraImg:hover {
  transform: rotate(360deg);
}

.nepImg {
  background-image: url("images/neptune.png");
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: transform 3s;
}

.nepImg:hover {
  transform: rotate(360deg);
}

.favImg {
  /* background-image: url("images/star.png"); */
  background-size: cover;
  width: 100px;
  height: 100px;
  transition: transform 3s;
}

.favImg:hover {
  transform: rotate(360deg);
}

.planet-link-circle a:active,
.planet-link-circle a:focus {
  color: #fffbd6; /* Change current pages colour */
}

footer {
  padding-top: 2%;
  background-image: url(images/wallpaperflare.com_wallpaper.jpg);
  padding-bottom: 2%;
  clear: both;
  font-size: x-large;
}

.copyright {
  float: right;
  padding-right: 10%;
}

/* Reset list styles for the navigation */
nav ul {
  list-style-type: none;
  padding: 0;
}

.apodImg {
  height: auto;
  width: 30%;
  margin: 40px;
  margin-left: 15%;
  border: #000;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  color: #f0f0f0;
  width: 50vh;
}

.explanation {
  padding: 5%;
  font-size: 17px;
}

.image-explanation-container {
  display: flex;
  align-items: center;
}

/* .image-container {
  flex: 1; 
  margin-right: 20px;
} */

.explanation-container {
  flex: 2;
}

/* Close button */

.close-button {
  position: absolute;
  right: 50px;
  background-color: transparent;
  font-size: 50px;
  color: white;
  z-index: 10;
  border: none;
  cursor: pointer;
}

.content-wrapper {
  position: relative;
}

.content-container {
  position: relative;
}

/* backgroundf img */
.bk-img {
  min-height: 75vh;
  background-image: url("./images/bkgnd/planets.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.loginButton {
  background-color: #e69668;
  color: #f0f0f0;
  padding: 10px 30px;
  border: #e69668;
  border-radius: 25px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 20px;
  margin: 2%;
  transition: 0.5s;
}


.buttons{
  background-color: #1c1935;
  color: #f0f0f0;
  padding: 10px 30px;
  border: #e69668;
  border-radius: 25px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 15px;
  margin: 2%;
  transition: 0.5s;
}
.buttons:hover {
  background-color: #4052bb;
}

 .b-text{
  color: #f0f0f0; 
  text-decoration: none; 
}

.signUpButton {
  background-color: #e69668;
  color: #f0f0f0;
  padding: 10px 20px;
  border: #e69668;
  border-radius: 25px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 20px;
  margin: 2%;
  transition: 0.5s;
}

.signOutButton {
  background-color: #e69668;
  color: #f0f0f0;
  padding: 10px 20px;
  border: #e69668;
  border-radius: 25px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 20px;
  margin: 2vh;
  transition: 0.5s;
}

.loginButton:hover {
  background-color: #4052bb;
}

.signUpButton:hover {
  background-color: #4052bb;
}

.signOutButton:hover {
  background-color: #4052bb;
}

.loginButton a,
.buttons a,
.signUpButton a,
.signOutButton a {
  text-decoration: none;
  color:#ddd;
}

/* For the favourites navigation */
.fav .planet-link-circle {
  border: 1px solid #fff;
}

.fav-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.planetFAV-img {
  width: 98%;
  height: 300px;
}
/* For the favourites page */
.planetFav-row {
  position: relative;
  right: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  justify-content: space-evenly;
}
.planetFav-card {
  max-width: auto;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 2%;
  background-color: #000;
  margin-bottom: 50px;
  overflow-wrap: break-word;
}

ul .planetFav-card {
  list-style-type: none;
}

.addFav,
.favDelete {
  background-color: #eae8fc;
  color: #6a186a;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}
/* Screen sizes should be at the bottom */
/* Screen sizes adjustment */

@media screen and (max-width: 1024px) {
  .planet-link-circle {
    width: 100px;
    height: 100px;
    font-size: 18px;
    margin: 12px;
    padding: 5px;
  }
  .nav-circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 950px) {
  .planet-link-circle {
    width: 150px;
    height: 150px;
    font-size: 18px;
    margin: 12px;
    padding: 5px;
  }
  .nav-circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .merImg,
  .venImg,
  .earImg,
  .marImg,
  .jupImg,
  .satImg,
  .uraImg,
  .nepImg,
  .favImg {
    width: 160px;
    height: 160px;
  }

  .planet-description {
    position: relative;
    align-self: first baseline;
    left: 15%;
  }

  .planet-text {
    position: relative;
    margin-top: 800px;
    right: 8%;
    background-color: rgba(255, 255, 255, 0);
  }

  .apodImg {
    height: auto;
    width: 60%;
    margin: 40px;
    float: none;
  }
  .explanation {
    padding: 5%;
    width: fit-content;
  }

  .image-explanation-container {
    display: inline-block;
  }

  h2.planet {
    font-size: 45px;
    margin-left: 200px;
    width: 900px;
    justify-content: center;
    align-items: center;
  }

  .welcome {
    /* flex:1; */
    flex-direction: row;
    position: relative;
    right: 20px;

  }

  .fav {
    margin-top: 700px;
  }

  .fav-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (max-width: 850px) {
  .apodImg {
    width: 50%;
  }

  .image-explanation-container {
    display: inline-block;
  }

  h2.planet {
    font-size: 45px;
    margin-left: 150px;
    width: 900px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .planet-image {
    width: 40%;
    height: 40%;
  }

  .planet-description {
    position: relative;
    align-self: first baseline;
    left: 10%;
  }

  .planet-text {
    position: relative;
    align-self: last baseline;
    right: 60%;
    background-color: rgba(255, 255, 255, 0);
  }

  .apodImg {
    width: 50%;
  }

  .image-explanation-container {
    display: inline-block;
  }
}

@media screen and (max-width: 550px) {
  .planet-description {
    position: relative;
    align-self: first baseline;
    left: 20%;
  }

  .pageHeading {
    font-size: 10px;
    text-align: left;
  }
  .planet-text {
    position: relative;
    align-self: last baseline;
    right: 15%;
  }

  h2.planet {
    font-size: 45px;
    margin-left: 0px;
    width: 900px;
    justify-content: center;
    align-items: center;
  }

  .favImg {
    width: 150px;
    height: 150px;
  }
  .welcome {
    margin-right: 6px;
  }
  .App-header {
    height: 200px;
  }
}
@media screen and (max-width: 500px) {
  h2 {
    font-size: 45px;
  }

  .close-button {
    font-size: 35px;
    right: 5%;
  }

  .planet-description {
    position: relative;
    align-self: first baseline;
    left: 20%;
  }

  .planet-text {
    position: relative;
    align-self: last baseline;
    right: 70%;
    background-color: rgba(255, 255, 255, 0);
  }

  .apodImg {
    width: 50%;
  }

  .image-explanation-container {
    display: inline-block;
  }

  h2.planet {
    font-size: 25px;
    width: 720px;
    justify-content: center;
    align-items: center;
  }
  .pageHeading {
    font-size: 15px;
  }

  .welcome {
    font-size: 15px;
  }
  .loginButton {
    font-size: 15px;
  }

  .signUpButton {
    font-size: 15px;
  }
  .signOutButton {
    font-size: 15px;
  }

  .fav {
    margin-top: 500px;
    margin-left: -80px;
  }

  .fav-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .planet-link-circle {
    width: 100px;
    height: 100px;
    font-size: 18px;
    margin: 12px;
    padding: 5px;
  }
  .nav-circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .merImg,
  .venImg,
  .earImg,
  .marImg,
  .jupImg,
  .satImg,
  .uraImg,
  .nepImg,
  .favImg {
    width: 110px;
    height: 110px;
  }
}

@media screen and (max-width: 420px) {
  .planet-text {
    position: relative;
    align-self: last baseline;
    right: 30%;
    background-color: rgba(255, 255, 255, 0);
  }
  h2.planet {
    font-size: 25px;
    width: 550px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 380px) {
  h2 {
    font-size: smaller;
  }

  .pageHeading {
    font-size: 5px;
  }

  .planet-text {
    position: relative;
    right: 90%;
    background-color: rgba(255, 255, 255, 0);
  }

  .loginButton {
    font-size: 10px;
    padding: none;
  }

  .signUpButton {
    font-size: 10px;
  }
  .signOutButton {
    font-size: 10px;
  }

  .close-button {
    font-size: 25px;
    right: 10px;
  }
  .planet-image {
    width: 50%;
    height: 50%;
  }

  .planet-description {
    position: relative;
    align-self: first baseline;
    left: 30%;
  }

  h2.planet {
    font-size: 15px;
    width: 650px;
    justify-content: center;
    align-items: center;
  }

  .apodImg {
    width: 50%;
  }

  .image-explanation-container {
    display: inline-block;
  }

  .fav {
    margin-top: 500px;
    margin-left: 20px;
  }

  .App-header {
    height: 120px;
  }

  .planet-text {
    position: relative;
    margin-top: 800px;
    right: 50%;
    background-color: rgba(255, 255, 255, 0);
  }
}
@media screen and (max-width: 360px) {
  .welcome {
    position: relative;
    font-size: 20px;
    right: 25px;
  }

  h2.planet {
    font-size: 15px;
    width: 650px;
    justify-content: center;
    align-items: center;
  }

  .planet-link-circle {
    width: 100px;
    height: 100px;
    font-size: 18px;
    margin: 12px;
    padding: 5px;
  }

  .merImg,
  .venImg,
  .earImg,
  .marImg,
  .jupImg,
  .satImg,
  .uraImg,
  .nepImg {
    width: 110px;
    height: 110px;
  }
}

@media screen and (max-width: 280px) {
  .welcome {
    position: relative;
    right: 100px;
  }

  .fav {
    margin-top: 500px;
    margin-left: -20px;
  }

  h2.planet {
    margin-left: 180px;
    width: 180px;
    justify-content: center;
    align-items: center;
  }

  .planet-text {
    position: relative;
    margin-top: 800px;
    right: 90%;
    background-color: rgba(255, 255, 255, 0);
  }
}

.forum-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #000;
}

.comments-section {
  margin-top: 20px;
}

.comment {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

.forumImg {
  width: 50px;
  height: 50px;
  background-image: url("/src/images/Forum.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 auto;
}

.planet-link-circle:hover .forumImg {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.planet-link-circle:hover .text-container {
  color: #ffd700;
  transition: color 0.3s ease-in-out;
}

.text-container {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
