@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=PT+Sans+Narrow&family=Raleway:wght@500&display=swap");

/* Authentication for login, and signout pages */

/* Login */
.login-form {
  --input-focus: #e69668;
  --font-color: #fff;
  --font-color-sub: #ccc;
  --bg-color: #292547;
  --main-color: #e69668;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background: var(--bg-color);
  border-radius: 10px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 200px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
  color: var(--font-color);
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "IBM Plex Mono", monospace;
}

.login-form button {
  background-color: var(--main-color);
  color: var(--font-color);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

.login-form .form-items {
  display: inline;
  justify-content: space-between;
}

.login-form .form-items .field {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* SignUp */

.signUp-form {
  --input-focus: #e69668;
  --font-color: #fff;
  --font-color-sub: #ccc;
  --bg-color: #292547;
  --main-color: #e69668;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background: var(--bg-color);
  border-radius: 10px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 200px;
}

.signUp-form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
  color: var(--font-color);
}

.signUp-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "IBM Plex Mono", monospace;
}

.signUp-form button {
  background-color: var(--main-color);
  color: var(--font-color);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

.signUp-form .form-items {
  display: inline;
  justify-content: space-between;
}

.signUp-form .form-items .field {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Error Message */

.error-message {
  color: red;
  margin-top: 5px;
  font-weight: bold;
}

#root {
  background-color: #1c1935;
}
